<br style="clear:both;"/>
<div id ="footer">
	<a href="/">Home</a> | <a href="http://m.library.oregonstate.edu/">OSU Libraries</a> |
    <a href="http://m.oregonstate.edu/">OSU</a> <br />  &copy; <%= Time.now.year %> Oregon State University Libraries 
</div>
