<h1>About BeaverTracks</h1>

<div id="about">
  <p>BeaverTracks is an interactive mobile guide and walking tour of Oregon State University's historical locations.</p> 
  <p>At each of the 22 locations, you get a brief history  and can browse a catalog of historic images. Depending on your mobile device you can also take a walking tour of the historic sites.</p>

  <p><%=link_to 'About the Tour', instructions_beavertracks_path %></p>

  <p><a href="mailto:scarc@oregonstate.edu?subject=Beaver Tracks Feedback">Feedback &amp; Comments</a></p>

  <p>All images in BeaverTracks are from the OSU <a href="http://scarc.library.oregonstate.edu">Special Collections &amp; Archives Research Center (SCARC)</a> collections and permission must be obtained to publish or permanently display reproductions of the materials. Please contact <a href="mailto:scarc@oregonstate.edu">OSU SCARC</a> with requests or questions. All images in BeaverTracks can also be found on <a href ="http://www.flickr.com/photos/osuarchives/">OSU SCARC Flickr photostream</a>.</p>
  <p>BeaverTracks was developed by OSU Libraries staff. It was inspired by NCSU Libraries' project WolfWalk. The virtual walking tour is based on the print publication <em>OSU Buildings &amp; Services Walking Tour</em>.</p>
</div>	
