<div id="header">
	<%=render :partial => '/beavertracks/top'%>
	<h1>Map View</h1>
</div>
<% cache :action => 'index', :part => 'map' do %>
<div id ="container">
<div id ="wrapper">
<%= GMap.header() %>
<%= @map.div() %>
</div>
</div>
<%end%>