<h1><%= @title %></h1>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){

    markers = handler.addMarkers(<%=raw @hash.to_json %>);

    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>


<%# cache do %>
  <div id ="container">
    <div id ="wrapper">

        <div id="map" style='width: 800px; height: 400px;'></div>

      <%#= gmaps("map_options" => {"container_id" => "map_container", 
                "center_latitude" => 44.5650618928,
                "center_longitude" => -123.27603917,
                "zoom" => 16,          
                },
                "markers" =>  {"data" => @json }
               )
       %> 

       <!--
       <p>json = <%#= @json %></p>
       -->

    </div>
  </div>
<%# end %>
