<h1><%= @title %></h1>

<% cache do %>
  <div id ="container">
    <div id ="wrapper">

      <%= gmaps("map_options" => {"container_id" => "map_container", 
                "center_latitude" => 44.5650618928,
                "center_longitude" => -123.27603917,
                "zoom" => 16,          
                },
                "markers" =>  {"data" => @json}
               )
       %> 

<!--
       <p>json = <%#= @json %></p>
-->

    </div>
  </div>
<% end %>
