<div id="header">
	<%=render :partial => '/beavertracks/top'%>
	<h1>Walking Tour</h1>
</div>
<% cache :action => 'tour', :part => @patron.id do %>
<div id ="container">
<div id ="wrapper">
<%= GMap.header() %>
<%= @map.div() %>
</div>
</div>
<%end%>
<script>
	var on_campus = "<%=@on_campus%>";
  if(on_campus == "false")
  { 
     alert("Couldn't find you on Campus. Started Tour at the Valley Library.")
  }
  

</script>
