
<% if searchresults.length == 0 %>

	<div id ="content"><h3>Sorry! No Locations found. </h3></div>


<% else %>
	
<div id= 'nav'>
<ol>
<% @buildings.each do |building| %>
    <li><%= link_to h(building.name), building %> </li>
<% end %>
</ol>
</div>

<% end %>
