<h1><%= @title %></h1>

<div id="search_results">
  <% cache  :action => 'index', :part =>'building_list' do %> 
    <div id= 'nav'>
      <ol>
        <% @buildings.each do |building| %>
          <li><%= link_to h(building.name), building %> </li>
        <% end %>
      </ol>
    </div>
  <%end%>
</div>
